
*.suo
*/bin/
*/obj/
*/csx/
*/rcf/
*/*/bin/
*/*/obj/
*/*.user
TestResults
packages/*
packages/**/*
/_Chutzpah.coverage.html
*.db
*.user
/**/*.pubxml.user
/*.userprefs
*.cachefile
*/App_Data
*.sln.ide
.vs
src/*/wwwroot
src/*/intermediate
src/*/bower_components
src/*/node_modules
artifacts
src/*/Assets/**/*.js