@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title></title>
	<link href="~/Content/style.css" rel="stylesheet" />

	<script src="~/Scripts/angular.min.js"></script>
	<script src="~/Scripts/lodash.min.js"></script>
	<script src="~/Scripts/firefly/distinctions.js"></script>
	<script src="~/Scripts/firefly/names.js"></script>
	<script src="~/Scripts/firefly/core.js"></script>
</head>
<body ng-app="firefly">
	<div ng-controller="fireflyCharacterCreationController as controller">
		<div>
			<input type="text" ng-model="controller.character.bio.name" class="characterNameHeading" placeholder="(Name)" />
			<small>
				<button ng-click="controller.generateName()">Generate</button>
				{{controller.character.bio.system}}
				<span ng-if="controller.character.bio.system">&mdash;</span>
				{{controller.genderText(controller.character.bio.gender)}}
			</small>
		</div>
		<div>
			<h3 ng-class="{needsSelection: controller.needsAttribute() && controller.showNeeds}">
				Attributes
				<button ng-click="controller.generateAttributes()">Generate</button>
			</h3>
			<p style="color: red;" ng-if="controller.needsAttribute() && controller.showNeeds"><em>You need to finish selecting attributes</em></p>
			<ul class="compressedListing">
				<li>
					<label for="attributePhysical">
						Physical
					</label>
					<select id="attributePhysical" ng-options="dieCode.display() for dieCode in controller.dieCodes | filter:controller.attributesOptions('physical')" ng-model="controller.character.attributes.physical">
						<option></option>
					</select>
				</li>
				<li>
					<label for="attributeMental">
						Mental
					</label>
					<select id="attributeMental" ng-options="dieCode.display() for dieCode in controller.dieCodes | filter:controller.attributesOptions('mental')" ng-model="controller.character.attributes.mental">
						<option></option>
					</select>
				</li>
				<li>
					<label for="attributeSocial">
						Social
					</label>
					<select id="attributeSocial" ng-options="dieCode.display() for dieCode in controller.dieCodes | filter:controller.attributesOptions('social')" ng-model="controller.character.attributes.social">
						<option></option>
					</select>
				</li>
			</ul>
		</div>

		<div>
			<h3 ng-class="{needsSelection: (controller.needsDistinction() || controller.needsDistinctionTriggers()) && controller.showNeeds}">
				Distinctions
				<button ng-click="controller.generateDistinctions()">Generate</button>
			</h3>
			<p style="color: red;" ng-if="controller.needsDistinction() && controller.showNeeds"><em>You need to finish selecting distinctions</em></p>
			<p style="color: red;" ng-if="controller.needsDistinctionTriggers() && controller.showNeeds"><em>You need to finish selecting distinction triggers</em></p>
			<div ng-repeat="distinctionSlot in controller.character.distinctions track by $index" ng-init="distinctionIndex = $index" class="distinction">
				<h4>
					{{distinctionSlot.name}}
					<span style="padding-left: 12px">d8</span>
					<button ng-click="controller.character.removeDistinction(distinctionSlot)">Remove</button>
				</h4>
				<small><em>{{distinctionSlot.description}}</em></small>
				<p ng-if="distinctionSlot"><input type="checkbox" ng-checked="true" disabled /> Gain 1 Plot Point when you roll a d4 instead of a d8.</p>
				<p ng-repeat="trigger in distinctionSlot.triggers"><input type="checkbox" ng-disabled="!controller.allowAddTrigger() && !controller.character.selectedTriggers[distinctionIndex][$index]" ng-model="controller.character.selectedTriggers[distinctionIndex][$index]" /> <em>{{trigger.name}}:</em> {{trigger.description}}</p>
			</div>

			<div ng-if="controller.allowAddDistinction()">
				<select ng-options="distinction as distinction.name group by distinction.category for distinction in controller.distinctions.all()" ng-model="controller.distinctionPreview">
					<option>--Select--</option>
				</select>
				<div ng-if="controller.distinctionPreview" class="distinction">
					<h4>{{controller.distinctionPreview.name}}</h4>
					<small><em>{{controller.distinctionPreview.description}}</em></small>
					<p><input type="checkbox" ng-checked="true" disabled /> Gain 1 Plot Point when you roll a d4 instead of a d8.</p>
					<p ng-repeat="trigger in controller.distinctionPreview.triggers"><input type="checkbox" ng-checked="false" disabled="disabled" /> <em>{{trigger.name}}:</em> {{trigger.description}}</p>
					<p><em>Highlighted Skills: </em> <span ng-repeat="skill in controller.distinctionPreview.highlightedSkills">{{skill}}{{$last ? '' : ', '}}</span></p>
					<button ng-click="controller.character.addDistinction(controller.distinctionPreview); controller.distinctionPreview = null;">Add Distinction</button>
				</div>
			</div>
		</div>

		<div>
			<h3 ng-class="{needsSelection: controller.needsSkills() && controller.showNeeds}">
				Skills
				<button ng-click="controller.generateSkills()">Generate</button>
			</h3>
			<p style="color: red;" ng-if="controller.needsSkills() && controller.showNeeds"><em>You need to finish selecting skills</em></p>
			<p style="color: red;" ng-if="controller.needsAssetsOrSpecialities() && controller.showNeeds"><em>You need to finish selecting specialities or signature assets</em></p>
			<select ng-options="skill for skill in controller.skills()" ng-model="addSkill" ng-change="controller.addSkill(addSkill); addSkill = null;"></select>
			<ul class="compressedListing">
				<li ng-repeat="skill in controller.character.skills">
					<label>{{skill.name}}</label>
					{{skill.rating.display()}}
					<button ng-if="controller.canStepUp(skill.name)" ng-click="controller.stepUpSkill(skill)">+</button>
					<button ng-if="controller.canStepBack(skill.name)" ng-click="controller.stepBackSkill(skill)">-</button>
					<button ng-if="skill.allowSpeciality() && !skill.boughtSpeciality && controller.canBuySpeciality()" ng-click="controller.buySpeciality(skill)">Add Speciality</button>
					<input ng-if="skill.boughtSpeciality" ng-model="skill.speciality" type="text" placeholder="(Speciality)" />
				</li>
			</ul>
		</div>

		<div>
			<h3 ng-class="{needsSelection: controller.needsAssetsOrSpecialities() && controller.showNeeds}">
				Signature Assets
				<button ng-click="controller.generateAssets()" ng-disabled="controller.needsSkills()">Generate</button>
			</h3>
			<p style="color: red;" ng-if="controller.needsAssetsOrSpecialities() && controller.showNeeds"><em>You need to finish selecting specialities or signature assets</em></p>
			<p ng-if="!controller.character.signatureAssets.length"><em>None.</em></p>
			<div ng-repeat="asset in controller.character.signatureAssets">
				<input type="text" ng-model="asset.name" placeholder="(Signature Asset)" />
				{{asset.rating.display()}} <button ng-click="controller.stepUpAsset(asset)">+</button>
				<button ng-click="controller.stepBackAsset(asset)">-</button>
			</div>
			<button ng-if="controller.canBuySpeciality()" ng-click="controller.addSignatureAsset()">Create Signature Asset</button>
		</div>

		<hr />
		<button ng-click="controller.isFinished() ? controller.create() : (controller.showNeeds = true)">Download</button>
	</div>
</body>
</html>
